$text-color: black;
$text-color2: white;
$accent-text: white;

$body: #ebf4eb;

$accent-color-extra-extra-light: #f1f5f1;
$accent-color-extra-light: #ebf4eb;
$accent-color-light: #d5ead6;
$accent-color-semilight: #accfb0;
$accent-color-semisemilight: rgb(148, 194, 153);

$accent-color: #73ab79;

$accent-color-semisemidark: rgb(115, 164, 120);
$accent-color-semidark: rgb(96, 144, 101);
$accent-color-darker: #4c6c4d;
$accent-color-dark: #38563a;

$card-background: #73ab79;
$card-background2: #73ab79;
$card-text: rgb(255, 255, 255);
$sectionBackground: #73ab79;
$sectionText: white;

$shadow: 0px 0px 10px 10px rgba(192, 192, 192, 0.181);
$mobileBreakpoint1: 600px;
$desktopMinAspect: 9999;
