$text-color: black;
$text-color2: white;
$accent-text: white;

$body: #eff5ef;
$accent-color-dark: #38563a;
$accent-color-semidark: rgb(96, 144, 101);

$accent-color: #73AB79;

$accent-color-semisemilight: rgb(148, 194, 153);
$accent-color-semilight: #accfb0;
$accent-color-light: #d5ead6;
$accent-color-extra-light: #ebf4eb;


$card-background: #73AB79;
$card-background2: #73AB79;
$card-text: rgb(255, 255, 255);
$sectionBackground: #73AB79;
$sectionText: white;

$shadow: 0px 0px 10px 10px rgba(192, 192, 192, 0.181);