/* Text in those explanations is in a span */
.explanationTextContainer {
    display: flex;
    align-items: center;
    width: 60%;
    text-align: left;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: fit-content;
    margin: auto;
}

.text {
    width: fit-content;
    max-width: fit-content !important;
    margin: auto;
}