@use './main/variables' as *;

#contactText {
   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: $accent-color;
    font-weight: 400;
    padding: 40px;
    padding-top: 70px;
    padding-bottom: 80px;
}


.socials a {
    font-size: 3rem;
    transition-duration: 2s;
}

.socials a:hover {
    scale: 1.5;
}

#sayHello:hover {
    scale: 1.1;
    box-shadow: 0px 0px 20px 5px rgba(197, 251, 255, 0.54);
}