@use './main/variables' as *;

#aboveFold {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 50vh;
    min-width: fit-content;
    max-width: 90vw !important;
    overflow: hidden;
    margin: auto !important;
    margin-top: 20vh !important;
}

#titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    width: 60%;
    min-width: calc(min(400px, 80vw));
    max-width: calc(min(50%, 60vw)) !important;
}

#title {
    font-size: 2rem;
    font-size: clamp(20pt, 4rem, 6vw);
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    text-wrap: wrap;
    text-align: center;
}

/* https: //codepen.io/Lucas-Dombrowski/pen/wvRoWzL */
/*Setup the blinking sidebar*/
.blinker {

    /*The width is the actual sidebar thickness.*/
    width: 0px;
    height: fit-content;
    color: black;
    /*Position the sidebar at the right of the text*/
    left: calc(min(1vw, -14px));
    top: calc(min(10vh, -6px));
    transform: scale(1.1);
    position: relative;
    will-change: opacity;
    /*Apply the blinkking animation looping in 2 steps: visible -> hidden.*/
    animation: blink 1s infinite steps(2, start);
}

/*Create the blinking animation by simply hide the element.*/
@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }

}

@keyframes blink {
    to {
        visibility: hidden;
    }

}

#subtitle {
    letter-spacing: 1pt;
    font-weight: 400;
    margin-top: 20px;
    font-size: 1.4rem;
    color: white;
    background: $accent-color-semisemilight;
    padding: 10px;
    border-radius: 4px;
    font-family: 'montserrat', sans-serif;
    text-align: center;

}

#portraitHolder {
    float: left;
    margin-top: 0px;
    /* background-color: white; */
    width: calc(max(30%, 200px));
    flex-grow: 0.2;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* clip-path:circle(43% at 49% 50%); */
}

#portrait {
    width: 100%;
    clip-path: circle(43% at 49% 50%);
    border: 2px solid white;
}

#portrait:before {
    content: '';
    width: 1000px;
    height: 1000px;
    background: #00c000;
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
}