@use './main/variables' as *;

.welcome {
    width: 1000px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 150px;

}

.welcomeContainer {
    max-width: 100%;
    margin-top: 200px;
    width: fit-content;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 70px;
    overflow: hidden;
    border: 10px solid $accent-color;
    height: fit-content;
    color: black;
    background: $accent-color-extra-light;

    @media screen and (max-width:800px) {
        border-radius: 20px;
        border: 7px solid $accent-color;
    }


    .welcomeTitle {
        background: $accent-color;
        color: white;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-right: 20px;
        margin-top: 5px;
        font-weight: 500;
        width: 90%;
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.2rem;
        // font-size: 1.4rem;
    }


    .welcomeToolsSkills {
        padding: 0px;
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 1.5rem;
        width: 500px;
        z-index: 1;
        flex-grow: 1;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: black !important;

        .skill {
            display: inline-flex;
            background: white;
            color: $accent-color-darker;
            // border: 1px solid $accent-color;
            font-weight: 400;
            padding: 4px;
            padding-left: 10px;
            padding-right: 10px;
            margin: 3px;
            border-radius: 10px;
            text-transform: capitalize;
        }

        a {
            margin: auto;
            margin-bottom: 20px;
            width: fit-content;
            color: $accent-color !important;

        }

        .logo {

            max-height: 40px;
            width: auto;
            height: auto;
            margin: 10px;
            display: inline-flex;
            filter: brightness(80%)saturate(00%)contrast(100%);
            opacity: 0.9;
        }

        .logoContainer {
            margin-top: 15px;
            position: relative;
            background: $accent-color-extra-light;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 10px;
            max-width: calc(max(100%, 250px));
            overflow: hidden;
            justify-content: center;
            filter: saturate(100%);
        }

        .logoContainer::after {
            content: "";
            position: absolute;
            width: 95%;
            height: 95%;
            top: 2px;
            left: 2px;
            background-color: $accent-color;
            mix-blend-mode: soft-light;
        }


        ul {
            display: flex;
            flex-direction: column;
            padding: 0px;
            flex-wrap: wrap;
            list-style: none;
            color: black !important;
        }

        li {
            padding: 0px;
            font-size: 1.2rem;
            margin-left: 20px;
            color: black !important;
            // list-style: none;
        }

        li::before {
            content: '• ';
        }

        a {
            color: black !important;
            font-size: 1.1rem;
        }
    }

    .welcomeSkills {
        font-size: 1.1rem;
        padding: 20px;
    }

    .welcomeLink {
        background: $accent-color;
        color: white !important;
        border-radius: 10px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none !important;

        span,
        a {
            color: white !important;
            text-decoration-color: white !important;
            text-decoration: none !important;
        }
    }

    .imgAndText {
        width: calc(min(100vw, 450px));
        position: relative;
        height: auto;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px;
        flex-wrap: wrap;
        align-items: center;
        border: none;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        // box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.094);
        border-radius: 50px;
        border: 2px solid $accent-color;
        background: $accent-color;
        box-shadow: 20px 0px 40px -10px rgba(25, 55, 35, 0.26);
        z-index: 2;
        padding-top: 20px;
        padding-bottom: 20px;
        // margin: auto;
        // background: yellow;

        @media screen and (max-width:800px) {
            border-radius: 10px;
            border: outset 7px solid $accent-color;
        }
    }

}

#hello {
    width: 100%;
    // background: blue;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    color: white !important;

    @media screen and (max-width:800px) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

#welcomeText {
    width: 90%;
    min-width: calc(min(200px, 100vw));
    flex-grow: 0;
    color: white !important;
    text-align: left;
    margin: auto;
    font-size: 1.1rem;
    color: white;
    font-family: 'roboto';
    font-weight: 400;
    padding-top: 10px;
}

.welcomeLinks {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;

    a {
        padding: 4px;
        // background: $accent-color-semisemilight;
        // text-decoration: none;
        border-radius: 10px;
    }
}