#aboveFold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 50vh;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 90vw !important;
  overflow: hidden;
  margin: auto !important;
  margin-top: 20vh !important;
}

#titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 60%;
  min-width: min(400px, 80vw);
  max-width: min(50%, 60vw) !important;
}

#title {
  font-size: 2rem;
  font-size: clamp(20pt, 4rem, 6vw);
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  text-wrap: wrap;
  text-align: center;
}

/* https: //codepen.io/Lucas-Dombrowski/pen/wvRoWzL */
/*Setup the blinking sidebar*/
.blinker {
  /*The width is the actual sidebar thickness.*/
  width: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: black;
  /*Position the sidebar at the right of the text*/
  left: min(1vw, -14px);
  top: min(10vh, -6px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  position: relative;
  will-change: opacity;
  /*Apply the blinkking animation looping in 2 steps: visible -> hidden.*/
  -webkit-animation: blink 1s infinite steps(2, start);
          animation: blink 1s infinite steps(2, start);
}

/*Create the blinking animation by simply hide the element.*/
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
#subtitle {
  letter-spacing: 1pt;
  font-weight: 400;
  margin-top: 20px;
  font-size: 1.4rem;
  color: white;
  background: rgb(148, 194, 153);
  padding: 10px;
  border-radius: 4px;
  font-family: "montserrat", sans-serif;
  text-align: center;
}

#portraitHolder {
  float: left;
  margin-top: 0px;
  /* background-color: white; */
  width: max(30%, 200px);
  -webkit-box-flex: 0.2;
      -ms-flex-positive: 0.2;
          flex-grow: 0.2;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* clip-path:circle(43% at 49% 50%); */
}

#portrait {
  width: 100%;
  -webkit-clip-path: circle(43% at 49% 50%);
          clip-path: circle(43% at 49% 50%);
  border: 2px solid white;
}

#portrait:before {
  content: "";
  width: 1000px;
  height: 1000px;
  background: #00c000;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
}/*# sourceMappingURL=header.css.map */