.scrollAnchor {
  scroll-margin-top: 120px;
}

.projectCard {
  color: rgb(255, 255, 255) !important;
}
@media screen and (min-aspect-ratio: 9999) {
  .projectCard {
    max-width: min(1500px, 80vw);
  }
}
@media screen and (max-width: 600px) {
  .projectCard {
    max-width: 100vw;
  }
}
.projectCard h2 a {
  text-decoration: none;
}
.projectCard h2 {
  font-size: clamp(12pt, 1.8rem, 7vw);
}
.projectCard h2 .name {
  color: white;
}
.projectCard h2 .year {
  color: white;
}
.projectCard .cardHeader {
  background: rgb(96, 144, 101);
  width: 100%;
}
.projectCard .projectTools {
  color: white;
  background: #73ab79;
}
@media screen and (max-width: 600px) {
  .projectCard .projectTools {
    padding: 5px;
  }
}
.projectCard .projectTools li {
  margin-left: 20px;
  font-size: 1rem;
  padding: 2px;
  border-radius: 10px;
}
.projectCard .cardFooter {
  color: white !important;
  background-position: auto;
  background: rgb(96, 144, 101);
}
.projectCard .cardFooter a {
  color: white !important;
  text-decoration: none;
}
.projectCard .textContainer {
  color: black !important;
  width: 100%;
  height: 100%;
  z-index: 9990;
  overflow: visible;
  padding-top: 5px;
}
@media screen and (min-aspect-ratio: 9999) {
  .projectCard .textContainer {
    position: absolute;
    z-index: 1000;
    width: 25%;
    right: 0px;
    top: 0px;
  }
}
.projectCard .textContainerInner {
  padding: 10px;
  text-align: center;
  color: #38563a;
  margin-bottom: 0px;
  padding: 10px;
  font-weight: 400;
  height: 100%;
  margin: auto;
  margin-top: 5px;
  overflow: visible;
}
@media screen and (max-width: 600px) {
  .projectCard .textContainerInner {
    padding: 5px;
    margin: auto;
    text-align: left;
  }
}
@media screen and (min-aspect-ratio: 9999) {
  .projectCard .textContainerInner {
    background: #73ab79;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 1rem;
    text-align: left;
    font-weight: 500;
  }
}
.projectCard .textContainerInner .innerText {
  height: 100%;
  max-width: min(90%, 700px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.projectCard .textContainerInner a {
  color: #38563a;
}
.projectCard .title {
  display: block;
  font-size: clamp(10pt, 1rem, 5vw);
  font-weight: 600;
  line-height: clamp(10pt, 1rem, 5vw) !important;
  text-transform: capitalize;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #38563a;
  width: 90%;
  top: 5px;
}
@media screen and (max-width: 600px) {
  .projectCard .title {
    margin-top: 5px;
  }
}
@media screen and (min-aspect-ratio: 9999) {
  .projectCard .title {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 15px;
  }
} /*# sourceMappingURL=projectCard.css.map */
